<?xml version="1.0"?>
<configuration>
  <property>
    <name>dataset.size</name>
    <value>10000</value>
    <description>number of input vectors, comes from line count MR</description>
  </property>
  <property>
    <name>k</name>
    <value>7</value>
    <description>Number of centroids</description>
  </property>
  <property>
    <name>threshold</name>
    <value>0.01</value>
    <description>Threshold for convergence</description>
  </property>
  <property>
    <name>max.iterations</name>
    <value>15</value>
    <description>Maximum number of iteration</description>
  </property>
</configuration>